

body{
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */

  /* background: #FDFC47; 
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47); 
background: linear-gradient(to right, #24FE41, #FDFC47);  */



}

nav{
  
}

.center{
  align-content: center;
}

h3,h2,h1{
  color: #616161;
}